{% extends 'base.html' %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ request.user }}</h3>
            <a href="{% url 'blog:create' %}" class="btn btn-success mb-5">Create post</a>
        </div>
        <div class="col">
            <h3>Published</h3>
            {% for post in published %}
            <li><a href="{% url 'blog:detail' post.slug %}" class="text-reset">{{ post.title }}</a></li>
            {% endfor %}
        </div>

        <div class="col">
            <h3>Drafts</h3>
            {% for post in drafts %}
            <li><a href="{% url 'blog:update' post.slug %}" class="text-reset">{{ post.title }}</a></li>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock content %}