{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center mt-5">{{ post.title }}</h2>
    <h4 class="mb-1">by {{ post.author }}</h4>
    <h5>{{ post.pub_date }}</h5>
    <p class="mt-4 mb-4">{{ post.content|safe }}</p>
    {% if request.user.is_authenticated %}
        <a href="{% url 'blog:update' post.slug %}" class="btn btn-primary btn-sm mb-1">Edit</a>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-4">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success btn-sm mb-1" type="submit">Submit</button>
            </form>
            <hr>
            <h5 class="mb-3">Comments:</h5>
            {% for comment in comments %}
            <p class="mb-1"><strong>{{ comment.name }}</strong></p>
            <p>{{ comment.content }}</p>
            {% endfor %}
        </div>
        <div class="col-8">
        </div>
    </div>
</div>
{% endblock content %}