{% extends 'base.html' %}
{% block content %}
{% load static %}
<img src="{% static 'images/paper2.jpeg' %}" class="img-fluid" alt="Image">

<div class="container">
    <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col-6 text-center">
            <h2 class="mb-4 mt-2">Newest posts:</h2>
        {% for object in object_list %}
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'blog:detail' object.slug %}" class=" text-decoration-none text-reset">{{ object.title }}</a></h5>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock content %}

<!-- <p class="card-text text-truncate mt-5">{{ object.content }}</p> -->